{% extends 'index.html' %}
{%block content%}
<!-- <h1>{{usersData}}</h1> -->
    <div class="container mt-4">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Company ID</th>
                    <th>Email</th>
                    <th>Company Name</th>
                    <th>Requester Name</th>
                    <th>Actionss</th>
                </tr>
            </thead>
            <tbody>
                {% for user_info in usersData %}
                <tr>
                    <td>{{ user_info['user_id'] }}</td>
                    <td>{{ user_info['company_id'] }}</td>
                    <td>{{ user_info['email'] }}</td>
                    <td>{{ user_info['organization'] }}</td>
                    <td>{{ user_info['first_name'] }}</td>


                    <td>
                        {% if user_info['status'] == 'approved' %}
                            <button class="btn btn-success" disabled>Approved</button>
                            <a href="{{ url_for('login_process.process_user', action='reject', user_id=user_info['user_id'], email=user_info['email']) }}" class="btn btn-danger px-2 mx-2">Reject</a>

                        {% elif user_info['status'] == 'rejected' %}
                        <a href="{{ url_for('login_process.process_user', action='approve', user_id=user_info['user_id'], email=user_info['email']) }}" class="btn btn-success px-2 mx-2">Approve</a>
                            <button class="btn btn-danger" disabled>Rejected</button>


                        {% else %}
                            <a href="{{ url_for('login_process.process_user', action='approve', user_id=user_info['user_id'], email=user_info['email']) }}" class="btn btn-success px-2 mx-2">Approve</a>
                            <a href="{{ url_for('login_process.process_user', action='reject', user_id=user_info['user_id'], email=user_info['email']) }}" class="btn btn-danger px-2 mx-2">Reject</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}